<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tus test</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngFor="let item of testRes">
    <ion-card>
      <ion-card-header>
        <ion-card-subtitle>{{item.fecha | date:'yyyy-MM-dd'}}</ion-card-subtitle>
        <ion-card-title>Resultado (Preventivo): {{item.resultado}}</ion-card-title>
      </ion-card-header>
      <ion-card-content *ngIf="item.resultado=='POSITIVO'">
        Es preferible que consultes a tu médico de confianza <br> o contancta mediante nuestra app
      </ion-card-content>
      <ion-card-content *ngIf="item.resultado=='NEGATIVO'">
        No tienes riesgo pero aun asi no significa que no puedas tener IRC
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
