<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			<ion-icon name="arrow-back-outline" style="color: white;" (click)="return()">
			</ion-icon>
			Registro
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-grid>

	<ion-row justify-content-center>
		<form (ngSubmit)="registrarUsuario(forma)" #forma="ngForm">
			<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
				<div text-center>
					<img src="../../assets/icon/imagen-logo.png" style="width: 20%; margin-left: 40%;">
				</div>
				<div padding>
					<ion-item>
						<ion-input class="form-control" id="validationServer01" name="strNombre"
							[(ngModel)]="usuario.strNombre" #strNombre="ngModel" required type="text"
							placeholder="Nombre/Nombres"></ion-input>
					</ion-item>
					<br>
					<ion-item>
						<ion-input class="form-control" id="validationServer02" name="strApellidoPat"
							[(ngModel)]="usuario.strApellidoPat" #strApellidoPat="ngModel" required type="text"
							placeholder="Apellido paterno"></ion-input>
					</ion-item>
					<br>
					<ion-item>
						<ion-input class="form-control" id="validationServer03" name="strApellidoMat"
							[(ngModel)]="usuario.strApellidoMat" #strApellidoMat="ngModel" required type="text"
							placeholder="Apellido materno"></ion-input>
					</ion-item>
					<br>
					<ion-item>
						<ion-input class="form-control" id="validationServer04" name="strCorreoElectronico"
							[(ngModel)]="usuario.strCorreoElectronico" #strCorreoElectronico="ngModel" required
							type="Email" placeholder="Correo Electronico"></ion-input>
					</ion-item>
					<br>
					<ion-item>
						<ion-input class="form-control" id="validationServer05" name="numTelefono"
							[(ngModel)]="usuario.numTelefono" #numTelefono="ngModel" required type="number"
							placeholder="Número telefonico"></ion-input>
					</ion-item>
					<br>
					<ion-item>
						<ion-input class="form-control" id="validationServer06" name="strCiudad"
							[(ngModel)]="usuario.strCiudad" #strCiudad="ngModel" required type="text"
							placeholder="Ciudad"></ion-input>
					</ion-item>
					<br>
					<ion-item>
						<ion-input class="form-control" id="validationServer07" name="dateFechaNacimiento"
							[(ngModel)]="usuario.dateFechaNacimiento" #dateFechaNacimiento="ngModel" required
							type="date" placeholder="Fecha de nacimiento"></ion-input>
					</ion-item>
					<br>
					<ion-item>
						<ion-input class="form-control" id="validationServer08" name="strContrasenia"
							[(ngModel)]="usuario.strContrasenia" #strContrasenia="ngModel" required type="password"
							placeholder="Contraseña"></ion-input>
					</ion-item>
				</div>
				<br>
				<div padding>
					<ion-button size="large" expand="block" type="submit" [disabled]="!forma.valid">Registrar
					</ion-button>
				</div>
			</ion-col>
		</form>
	</ion-row>
</ion-grid>