<ion-grid>
  <div>
    <ion-icon name="arrow-back-outline" style="width: 10%; border: solid black; color: black;" (click)="return()"></ion-icon>
  </div>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
        <img src="../../assets/icon/imagen-logo.png" style="width: 20%;">
        <img src="../../assets/icon/logo-ckd.png" style="width: 20%; position: absolute; top: 0; left: 15%;">
			</div>
			<div padding>
				<ion-item>
					<ion-input type="text" placeholder="Username"></ion-input>
				</ion-item>

        <ion-item>
					<ion-input type="text" placeholder="Address"></ion-input>
        </ion-item>
        
        <ion-item>
					<ion-input type="Email" placeholder="Email"></ion-input>
				</ion-item>

				<ion-item>
					<ion-input type="password" placeholder="Password"></ion-input>
				</ion-item>
			</div>

			<div padding>
				<ion-button size="large" href="/touchid" expand="block">Registrar</ion-button>
      </div>
		</ion-col>
	</ion-row>
</ion-grid>
