<ion-header [translucent]="true">
	<ion-toolbar>
		<ion-title>
			Actualizar
		</ion-title>
	</ion-toolbar>
</ion-header>


<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<img src="../../assets/icon/imagen-logo.png" style="width: 20%; margin-left: 40%;">
			</div>
			<div padding>
				<ion-item>
          <i>Nombre:</i>
					<ion-input class="form-control" id="validationServer01" name="strNombre"
						[(ngModel)]="usuario.strNombre" #strNombre="ngModel" required type="text"
						placeholder="{{User.strNombre}}"></ion-input>
				</ion-item>
				<br>
				<ion-item>
          <i>Apellio Paterno:</i>
					<ion-input class="form-control" id="validationServer02" name="strApellidoPat"
						[(ngModel)]="usuario.strApellidoPat" #strApellidoPat="ngModel" required type="text"
						placeholder="{{User.strApellidoPat}}"></ion-input>
				</ion-item>
				<br>
				<ion-item>
          <i>Apellido Materno:</i>
					<ion-input class="form-control" id="validationServer03" name="strApellidoMat"
						[(ngModel)]="usuario.strApellidoMat" #strApellidoMat="ngModel" required type="text"
						placeholder="{{User.strApellidoMat}}"></ion-input>
				</ion-item>
				<br>
				<ion-item>
          <i>Correo Electronico:</i>
					<ion-input class="form-control" id="validationServer04" name="strCorreoElectronico"
						[(ngModel)]="usuario.strCorreoElectronico" #strCorreoElectronico="ngModel" required type="Email"
						placeholder="{{User.strCorreoElectronico}}"></ion-input>
				</ion-item>
				<br>
				<ion-item>
          <i>Numero Telefonico:</i>
					<ion-input class="form-control" id="validationServer05" name="numTelefono"
						[(ngModel)]="usuario.numTelefono" #numTelefono="ngModel" required type="number"
						placeholder="{{User.numTelefono}}"></ion-input>
				</ion-item>
				<br>
				<ion-item>
          <i>Ciudad:</i>
					<ion-input class="form-control" id="validationServer06" name="strCiudad"
						[(ngModel)]="usuario.strCiudad" #strCiudad="ngModel" required type="text" placeholder="{{User.strCiudad}}">
					</ion-input>
				</ion-item>
				<br>
				<ion-item>
          <i>{{User.dateFechaNacimiento | date}} to:</i>
            <ion-datetime value="{{User.dateFechaNacimiento}}" display-timezone="utc"name="dateFechaNacimiento"
			[(ngModel)]="usuario.dateFechaNacimiento"></ion-datetime>
				</ion-item>
				<br>
			</div>
			<br>
			<div padding>
				<ion-button size="large" expand="block" type="submit" (click)="actualizar()">Actualizar
				</ion-button>
				<ion-button size="small" expand="block" color="warning" (click)="return()">Cancelar
				</ion-button>
			</div>
		</ion-col>
</ion-row>