<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
    <ion-card-header>
      <ion-img src="assets/img/dp.jpg"></ion-img>
      <ion-card-title>Insuficiencia renal crónica</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      La enfermedad renal crónica significa que sus riñones están dañados y no pueden filtrar la sangre como deberían.
      Este daño puede ocasionar que los desechos se acumulen en su cuerpo y causen otros problemas que podrían
      perjudicar su salud.
      Nuestro test consiste en comparar los diferentes resultados de los estudios que previamente tu deberas de
      realizarte y en base a nuestra experiencia te daremos un resultado el cual puede ser positivo o negativo. <br>
      <b>Este test no es 100% fiable , te recomendamos ir con tu medico si tienes algun sintoma!</b>
    </ion-card-content>
    <ion-button expand="block" (click)="test()">Iniciar test</ion-button>
    <br><br>
  </ion-card>



</ion-content>